<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1, h2 {
            color: #007bff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        button {
            margin-right: 10px;
        }

        .result-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- <h1>List of Items</h1>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul> -->

        <form method="post" action="/Process">
            <button type="submit" class="btn btn-primary">Process Data</button>
            <button type="submit" name="btn2" class="btn btn-success">Another Function</button>
        </form>

        {% if result %}
            <div class="result-container">
                <h2>Below files are copied to destsination folder :</h2>
                <ul>
                    {% for item in items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
